.box{
   min-height: 380px;
	width: 350px;
	border-radius: 10px;
	box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 30px 30px;
    background-color: #ecf0f3;
    
 
 }
 .l
 {
    text-align: center;

 }
 .but
 {
    fill: #456BD9;
     stroke: #0F1C3F;
     stroke-width: 0.1875em;
 }
 
